body{
    /* background-image: url(/img/back.jpeg); */
    background-color: #3cb371;
}

img {
    width: 100%;
    height: inherit;
    border-radius: 50%;
}

.kuhaku {
    width: 200px;
    height: 200px;
}

.gk_area {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.victory_defeat_area {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

#victory_or_defeat {
    font-size: 2rem;
}

.kicker_area {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.kicker {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#sp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: red;
}

.card {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gk_ability_score {
    flex-direction: column;
}

.VS_aera {
    flex-direction: column;
}

.kicker_ability_score {
    flex-direction: column;
}

#decision_button {
    width: 200px;
    height: 200px;
}

.main-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.shin-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.btn-gradient-3d {
    display: inline-block;
    padding: 50px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50%;
    color: black;
    font-size: 50px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(#6795fd 30%, #EF4123 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border: solid 3px #5e7fca;

}

.btn-gradient-3d:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

#ki_ability{
    font-size: 3rem;
}

#gk_ability{
    font-size: 3rem;
}